body{
    margin: 0;
    padding: 0;
    font-family: times-new-roman;
}

#fundo {
    position: absolute;
    height:100vh;
    width:100vw;
    background: url('../img/novacap2.png');
    opacity: 0.9;
    background-size: cover;
}
#caixa{
    background-color: #09044c;
    border: 8px solid #ff4800;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.9;
    position:relative;
    width: 300px;
    height: 230px;
    position: absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#caixa h1{
    color: white;
}
.textbox{
    width:100%;
    overflow: hidden:
    font-size: 20px;
    padding: 8px 0;
    margin:8px 0;
    border-bottom: 1px solid;
}
#header {
    background-color: #09044c;
    border-bottom: 8px solid #ff4800;
    border-radius: 10px 0px 0px 0px;
    opacity: 0.9;
    position:relative;
    width: 100%;
    height: 8%;
    position: absolute;
    text-align: center;
    bottom:91%;

}
#header img{
    width:110px;
    margin-left:-90%;
}

#header h2{
    margin-top:-55px;
    color: #ffffff;
}

#rodape {
    background-color: #09044c;
    border-top: 8px solid #ff4800;
    border-radius: 10px 0px 0px 0px;
    opacity: 0.9;
    position:relative;
    width: 100%;
    height: 8%;
    position: absolute;
    text-align: center;
    top:91%;
}
#rodape h2{
    color: #ffffff;
}