{% load bootstrap4 %}
{% load static %}
<!DOCTYPE HTML>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>LOGIN DE ACESSO</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static '../static/css/main.css' %}" />
    </head>
    <body>
        <section id="fundo_login">
            <div class="quadro">
                    <div class="grade">
                        <img src = "{% static '../static/images/novacap1-removebg-preview.png' %}" alt=""/>
                    </div>
                    <div class="grade">
                        <form name="formLogin" id="formLogin" method="post" action='/loadlogin/'>
                            {% csrf_token %}
                        <div class="form-group logoimg">
                            <img src = "{% static '../static/images/person-circle.svg' %}" alt=""/>
                            <input class="inputLogin" type="text" placeholder="nome" name="nome">
                        </div>
                        <div class="form-group logoimg">
                            <img src = "{% static '../static/images/key-fill.svg' %}" alt=""/>
                            <input type="password" placeholder="senha" name="senha" class="inputLogin">
                        </div>
                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"  href="{% url 'loadlogin' %}" type="submit" name="">Logar</button>
                        </form>
                    </div>
                    <div class="grade">
                        <h3>Direitos autorais</h3>
                    </div>
            </div>
        </section>
    {% bootstrap_javascript jquery='full' %}
    </body>
</html>