{% extends 'home.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static '../static/css/main.css' %}" />
<div class="cal">
    <div class="calendario">
        <div id="calendar">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand">Filtro</a>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Data Inicial" aria-label="Search">
                    <button class="btn3 btn-outline-success mr-sm-2" type="submit"><img
                            src="../static/images/calendar-date.svg"></button>
                    <input class="form-control mr-sm-2" type="search" placeholder="Data Final" aria-label="Search">
                    <button class="btn3 btn-outline-success mr-sm-2" type="submit"><img
                            src="../static/images/calendar-date.svg"></button>
                    <input class="form-control mr-sm-2" type="search" placeholder="Ex.: Abono" aria-label="Search">
                    <button class="btn3 btn-outline-success my-2 my-sm-0" type="submit"><img
                            src="../static/images/search.svg"></button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></th>
                        <th scope="col">Abono</th>
                        <th scope="col">Inicio da Ferias</th>
                        <th scope="col">Fim da Ferias</th>
                        <th scope="col">Periodo de Ferias</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dados in dados %}
                    <tr>
                        <td scope="row"><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></td>
                        <td scope="row">{{ dados.Abono|date:"d \d\e F \d\e Y"}}</td>
                        <td scope="row">{{ dados.Ferias_inicio|date:"d \d\e F \d\e Y" }}</td>
                        <td scope="row">{{ dados.Ferias_fim|date:"d \d\e F \d\e Y" }}</td>
                        <td scope="row">{{ dados.diferenca }} dias</td>
                    </tr>
                    {% endfor %}
                    {% for dados in dados %}
                    <tr>
                        <td scope="row"><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></td>
                        <td scope="row">{{ dados.Abono|date:"d \d\e F \d\e Y"}}</td>
                        <td scope="row">{{ dados.Ferias_inicio|date:"d \d\e F \d\e Y" }}</td>
                        <td scope="row">{{ dados.Ferias_fim|date:"d \d\e F \d\e Y" }}</td>
                        <td scope="row">{{ dados.diferenca }} dias</td>
                    </tr>
                    {% endfor %}
                    {% for dados in dados %}
                    <tr>
                        <td scope="row"><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></td>
                        <td scope="row">{{ dados.Abono|date:"d \d\e F \d\e Y"}}</td>
                        <td scope="row">{{ dados.Ferias_inicio|date:"d \d\e F \d\e Y" }}</td>
                        <td scope="row">{{ dados.Ferias_fim|date:"d \d\e F \d\e Y" }}</td>
                        <td scope="row">{{ dados.diferenca }} dias</td>
                    </tr>
                    {% endfor %}
                    <tr id="solicita">
                        <td scope="row"></td>
                        <td scope="row">Solicitar um novo Abono ou Férias</td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row">
                            <button class="btn btn-warning my-2 my-sm-0" type="submit"><img
                                    src="../static/images/plus-square.svg"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </nav>
        </div>
    </div>
</div>
<script src='fullcalendar/lang/pt-br.js'></script>
{% bootstrap_javascript jquery='full' %}
<script type="text/javascript" src="../static/js/calendar.js"></script>
{% endblock %}
