{% extends 'home.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static '../static/css/main.css' %}" />

<div class="cal">
    <div class="cal">
        <div id="calendar2">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <thead>
                <a class="navbar-brand">Pasta</a>

                <!-- HTML -->
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-3" id="pasta" name="pasta">
                        <option selected>Selecione uma pasta...</option>
                        {% for group_name in groups_data %}
                            <option value="{{ group_name }}">{{ group_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                </thead>
                <table class="table">
                    <tbody>
                    {% for cn in cn_list %}
                    <tr>
                        <td scope="row"><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></td>

                        <td scope="row">{{ cn }}</td>
                    </tr>
                    {% endfor %}
                    <tbody id="user-list">
                    </tbody>
                </table>

            </nav>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>$(document).ready(function() {
   $('#selected').change(function() {
        $('#user-list tbody').remove(); // Remove todos os elementos tbody da tabela
    });

    $('#pasta').change(function() {
        var selectedGroup = $(this).val();
        if (selectedGroup) {
            $.ajax({
                url: '/get_users_from_group/',
                type: 'GET',
                data: {'selected_group': selectedGroup},
                success: function(response) {
                    var cn_list = response.cn_list;
                    var userList = $('#user-list');
                    userList.empty(); // Limpa o conteúdo atual da lista de usuários

                    // Adiciona os valores de cn_list à lista de usuários
                    for (var i = 0; i < cn_list.length; i++) {
                        var cn = cn_list[i];
                        var row = $('<tr>');

                        row.append($('<td>').html('<input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">'));
                        row.append($('<td>').text(cn));
                        userList.append(row);
                    }
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        }
    });
});</script>

    <!-- Exibir a lista de usuários -->
    <div id="user-list"></div>
</div>

<script src='fullcalendar/lang/pt-br.js'></script>
{% bootstrap_javascript jquery='full' %}
<script type="text/javascript" src="../static/js/calendar.js"></script>

{% endblock %}
