{% extends 'home.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static '../static/css/main.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<div class="cal">
    <div class="cal">
        <div id="calendar2">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <thead>
                <a class="navbar-brand">Pasta</a>

                <!-- HTML -->
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-3" id="pasta" name="pasta">
                        <option selected>Selecione uma pasta...</option>
                        {% for group_name in groups_data %}
                            <option value="{{ group_name }}">{{ group_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                </thead>

                <table class="table">
                    <tbody>
                    {% for cn in cn_list %}
                    <tr>
                        <td scope="row"><input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></td>

                        <td scope="row">{{ cn }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tbody id="user-list">
                    </tbody>
                    <tbody>

                        <tr id="novo_membro" name="novo_membro">
                            <td scope="row"></td>
                            <td scope="row">Inserir novo membro a pasta</td>
                            <td scope="row"></td>
                            <td scope="row"></td>
                            <td scope="row"><button class="btn btn-danger my-2 my-sm-0" type="button" data-toggle="modal" data-target="#myModal"><img src="{% static '../static/images/plus-square.svg' %}"></button></td>

                        </tr>

                    </tbody>
                </table>
            </nav>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>$(document).ready(function() {
   $('#selected').change(function() {
        $('#user-list tbody').remove(); // Remove todos os elementos tbody da tabela
    });

    $('#pasta').change(function() {
        var selectedGroup = $(this).val();
        if (selectedGroup) {
            $.ajax({
                url: '/get_users_from_group/',
                type: 'GET',
                data: {'selected_group': selectedGroup},
                success: function(response) {
                    var cn_list = response.cn_list;
                    var userList = $('#user-list');
                    userList.empty(); // Limpa o conteúdo atual da lista de usuários

                    // Adiciona os valores de cn_list à lista de usuários
                    for (var i = 0; i < cn_list.length; i++) {
                        var cn = cn_list[i];
                        var row = $('<tr>');

                        row.append($('<td>').html('<input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">'));
                        row.append($('<td>').text(cn));
                        userList.append(row);
                    }
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        }
    });
});</script>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">Todos os Usuários</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>


      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Usuário</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="user-list2">

          </tbody>
        </table>

      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>


<script>
$(document).ready(function() {
    var csrfToken = '{{ csrf_token }}'; // Obter o token CSRF do Django

    $('#myModal').on('show.bs.modal', function() {
        $.ajax({
            url: '/get_all_users/',
            type: 'GET',
            headers: {
                'X-CSRFToken': csrfToken // Passar o token CSRF no cabeçalho da requisição
            },
            success: function(response) {
                var users = response.users;
                var userList2 = $('#user-list2');
                userList2.empty();

                for (var i = 0; i < users.length; i++) {
                    var cn = users[i].cn;
                    var row = $('<tr>');

                    var userCell = $('<td>').text(cn);
                    var addButton = $('<button>').text('Adicionar').addClass('btn btn-primary');
                    addButton.click(addUser.bind(null, cn)); // Passar o valor do 'cn' como argumento para a função addUser

                    row.append(userCell);
                    row.append($('<td>').append(addButton));
                    userList2.append(row);
                }
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        });
    });

    $('#addUserButton').click(function() {
        var selectedUser = $('#user-list2 tr.selected').find('td:first').text();

        // Faça o que for necessário com o usuário selecionado (exemplo: adicionar ao grupo)
        if (selectedUser) {
            $.ajax({
                url: '/adicionar_usuario/',
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken // Passar o token CSRF no cabeçalho da requisição
                },
                data: {
                    'user': selectedUser

                },
                success: function(response) {
                    console.log('Usuário adicionado ao grupo com sucesso');
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        }

        // Fechar o modal após a ação
        $('#myModal').modal('hide');
    });

    $('#user-list2').on('click', 'tr', function() {
        $(this).toggleClass('selected').siblings().removeClass('selected');
    });

    function addUser(cn) {
    // Faça o que for necessário com o usuário selecionado (exemplo: adicionar ao grupo)
    if (cn) {
        $.ajax({
            url: '/adicionar_usuario/',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrfToken // Passar o token CSRF no cabeçalho da requisição
            },
            data: {
                'user': cn
            },
            success: function(response) {
                console.log('Usuário adicionado ao grupo com sucesso');
                location.reload(); // Recarregar a página após adicionar o usuário ao grupo
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        });
    }

    // Fechar o modal após a ação
    $('#myModal').modal('hide');
}
});

</script>


<script src='fullcalendar/lang/pt-br.js'></script>
{% bootstrap_javascript jquery='full' %}
<script type="text/javascript" src="../static/js/calendar.js"></script>

{% endblock %}
