body {
    margin: 0;
    padding: 0;
    font-family: times-new-roman;
    background-color: #09044c;
}
/*TELA DE LOGIN*/
#header {
    background-color: #92dfe4;
    border-bottom: 10px solid #09044c;
    border-radius: 10px 0px 0px 0px;
    position:relative;
    width: 100%;
    height: 9%;
    position: absolute;
    text-align: center;
    bottom:91%;

}
#header img{
    height:100%;
    margin-left:-90%;
}

#header h2{
    margin-top:-55px;
    font-size:35px;
    color: black;
}
#fundo2 {
    margin-top:72px;
    position: absolute;
    height:190vh;
    width:100vw;
    opacity: 0.9;
    background-size: cover;
    background-color: white;
}
#fundo {
    margin-top:72px;
    position: absolute;
    height: 90vh;
    width: 100vw;
    background: url('../images/novacap2.png');
    opacity: 0.9;
    background-size: cover;
}

#caixa{
    background-color: #92dfe4;
    border: 8px solid #09044c;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.9;
    position:relative;
    width: 300px;
    height: 230px;
    position: absolute;
    text-align: center;
    top:25%;
    left:50%;
    transform: translate(-50%,-50%);
}

#caixa h1{
    margin-top: 15px;
    font-size: 32px;
    color: black;
}
#caixa button{
    width:100px;
    height:20px;
}
.textbox {
    width: 90%;
    overflow: hidden: font-size: 20px;
    padding: 8px 0;
    margin: 8px 12px;
    border-bottom: 1px solid;
    margin-top: -2px;
}




#rodape {
    background-color: #92dfe4;
    border-top: 8px solid #09044c;
    border-radius: 10px 0px 0px 0px;
    opacity: 0.9;
    position:relative;
    width: 100%;
    height: 4%;
    position: absolute;
    text-align: center;
    top:96%;
}
#rodape h2{
    margin-top: -1px;
    color: black;
    font-size: 20px;
}
/*_________________________________________________________________
TELA PRINCIPAL
_________________________________________________________________*/
body{
    background-color:#86a2ab;
}
#headermain {
    background-color: #09044c;
    border-bottom: 8px solid #ff4800;
    border-radius: 10px 0px 0px 0px;
    opacity: 0.9;
    position:relative;
    width: 100%;
    height: 15%;
    position: absolute;
    text-align: center;
    bottom:85%;
}
#headermain img{
    width:190px;
    margin-left:-18%;
    height:129px;
}
#dados {
    display: grid;
    grid-template-columns:20% 75% 5%;
    grid-gep:1rem;
}

#subdados {
    display: grid;
    grid-template-columns:40% 25% 20%;
    color: white;
    top:10rem;
    grid-gep:1rem;
}
.item2 {
    margin-top:1rem;
    margin-left:-8rem;
}


.item2_12 {
    margin-left:-10rem;
}
.item2_13 {
    margin-left:-3rem;
}

.item2_21 {
    margin-top:1.5rem;
    margin-left:-4rem;
}
.item2_22 {
    margin-top:1.5rem;
    margin-left:-11rem;
}
.item2_23 {
    margin-top:1.5rem;
    margin-left:-5rem;
}
.item3 {
    display: grid;
    grid-template-columns: 5px;


}
.btn_geral{
    display: inline-block;
    width: 90px;
    height: 30px;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    margin-left: -3rem;
    margin-top: 4px;
}
.btn_alterar:first-child{
    grid-columns: 1 /-1;
    width: 90px;
    height: 30px;
    margin-left: -3rem;
    margin-top: 1rem;
}
.btn_salvar:nth-child(2){
    grid-columns: 1 /-3;
    width: 90px;
    height: 30px;
    margin-top: 5px;
    margin-left: -3rem;
}
.btn_sair:nth-child(3){
    grid-columns: 1 /-3;
    width: 90px;
    height: 30px;
    margin-top: 5px;
    margin-left: -20rem;
}
.container{
    margin-top: 100rem;
    width:100%;
    background-color: #09044c;
    margin-left: -5rem;
    margin-top:1rem;
}
.nav-bar {
    width: 80px;
    height: 100%;
    background-color:#ff4800;
    border-radius:10px;
    position: fixed;
    margin-top:-1rem;
    margin-left:3.5rem;
    color:white;
}

.nav-bar ul{
    color:red;
}
.nav-bar ul li{
    color: red;
    list-style: none;
    position: center;
}
.nav-bar ul li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    padding: 14px;
    margin-left: -22px;
    margin-top: 20px;
    position: center;

    /* align-items: center; */
}

.nav-bar ul li a:hover{
    background-color:white;

}
#formlink{
    position:center;
    margin-top:20px;

}
.nav-bar ul li img{
    width: 22px;
    position: center;
}
.calendario{
    background-color:white;
    border-radius:7px;
    margin-top: 9.5rem;
    margin-left: 10rem;
    width: 105%;
    height:44rem;

}
.calendar{
    background-color: white;
    margin-top: 50rem;

}
#form-check {
    display: grid;
    grid-template-columns:5% 15% 15% 15% 15% 10% 11% 7% 7%;
    color: red;
    margin:1rem 0rem 1rem 0rem;
    text-align: center;
    position: relative;
    border-bottom: 2px solid black;

}
.item h2{
    font-size: 18px;
    color:black;


}
#form-check2, #form-check3, #form-check4,#form-check5,#form-check6,#form-check7 {
    display: grid;
    grid-template-columns:5% 15% 15% 15% 15% 10% 11% 7% 7%;
    color: red;
    margin:0rem 0rem 1rem 0rem;
    text-align: center;
    position:center;


}
#solicita {
    background-color: #86a2ab;
    color: white;
}
/*_________________________________________________________________
TELA CADASTRO
_________________________________________________________________*/
.painel{
    background-color:white;
    border-radius:7px;
    margin-top: 20rem;
    margin-left: 10rem;
    width: 105%;
    height:44rem;

}
.tela_painel {
    background-color:white;
    margin-top: -23%;
    margin-left: -10%;
    width:90vw;
}
.navcad{
    margin-top: 21rem;
}
