body {
    margin: 0;
    padding: 0;
    font-family: times-new-roman;

}

/*_________________________________________________________________
TELA CADASTRO
_________________________________________________________________*/
#headerc {
    background-color: #071b34;
    position:relative;
    width: 100%;
    height: 9%;
    position: absolute;
    text-align: center;
    bottom:91%;
}
#headerc img{
    height:100%;
    margin-left:-90%;
}

#headerc h2{
    margin-top:-55px;
    font-size:35px;
    color: white;
}
.painel{
    background-color:white;
    border-radius:7px;
    margin-top: 20rem;
    margin-left: 10rem;
    width: 105%;
    height:44rem;

}
.tela_painel {
    background-color:white;
    margin-top: -23%;
    margin-left: -10%;
    width:90vw;
}
.navcad{
    margin-top: 32%;
}

/*_________________________________________________________________
LOGIN 2
_________________________________________________________________*/
#fundo_login {
    height:100vh;
    display: grid;
    place-items: center;
    background-color: #071b34;
}
.quadro {
    display:grid;
    padding: 80px 40px;
    border-radius: 10px;
    background: linear-gradient(#fefefe,#1f2f58);
    max-width: 350px;

    margin: 0 auto;
}
.grade {
	margin: 5px;
	text-align: center;
}
.grade h3{
    color: black;
    margin: 70px 0px -20px 0px;
}
.grade img{
    margin: -70px 0px 45px 0px;
}
.logoimg img{
    margin: -6px -5px;
    color: black;
}
.inputLogin{
    border-radius: 5px;
    background-color:#fefefe;
    opacity:0.9;
    color: black;
    border: 1px solid #003;
    border-width: 0 0 1px 0;
    width: 85%;
    height: 30px;
    padding: 10px 0;
    margin: 10px 12px;
    border-bottom: 1px solid;
    margin-top: 1px;
}

.btn{
    margin-left: 30%;
    width:100px;
}
/* Media query para tela menor que 600px */
@media (max-width: 900px) {
  #fundo_login {
    display: none;
    background-color: #071b34;
  }

  .quadro {
    max-width: 100%;
    padding: 40px 20px;
  }

  input {
    width: 100%;
    margin: 10px 0;
  }

  .btn {
    margin: 10px auto;
    display: block;
  }
}
/*_________________________________________________________________
index2
_________________________________________________________________*/
#headermain2 {
    background-color: #071b34;
    position:relative;
    width: 100%;
    height: 15%;
    position: absolute;
    text-align: center;
    bottom:85%;
}
#headermain2 img{
    width:200px;
    margin-left:-18%;
    height:140px;
}
#dados2 {
    display: grid;
    grid-template-columns:20% 70% 15%;
    grid-gep:1rem;
}

#subdados2 {
    display: grid;
    grid-template-columns:28% 42% 30%;
    color: white;
    top:10rem;
    padding:12px;
    text-align: left;
}
.ite2{
    padding:10px;
    margin-left: -10px;
}
#botoeshead {
    display: grid;

    padding:10px;
    text-align: left;
}
.btn2{
    margin-top:5px;
    width:80px;
    height:28px;
    border-radius:5px;
    padding:5px;
}
.btn3{
    margin-top:-10px;
    width:40px;
    height:40px;
    border-radius:5px;

}
.cal{
    background-color: white;
    border-radius: 7px;
    margin-top: 9.5rem;
    margin-left: 8%;
    width: 90%;
    height: 44rem;
}
.calendar2{
    background-color: white;
    margin-top: 50rem;

}
.nav-bar2 {
    width: 80px;
    height: 100%;
    background-color: #dee2e6;
    border-radius:10px;
    position: fixed;
    margin-top:-1rem;
    color:white;
}
.nav-bar2 ul li{
    color: red;
    list-style: none;
    position: center;
}
.nav-bar2 ul li a{
    color: #000;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    padding: 14px;
    margin-left: -22px;
    margin-top: 20px;
    position: center;

    /* align-items: center; */
}

.nav-bar2 ul li a:hover{
    background-color:white;

}

.nav-bar2 ul li img{
    color:white;
    width: 22px;
    position: center;
}
#solicita{
    background-color: #dee2e6;
}
#novo_membro{
    background-color: #dee2e6;
}
.btn4{
    margin:-5px 0px;
    width:100%;
    height:40px;
    border-radius:5px;
    padding:0px;

}



