body{
    margin: 0;
    padding: 0;
    font-family: times-new-roman;
}
/*TELA DE LOGIN*/
#fundo {
    position: absolute;
    height:100vh;
    width:100vw;
    background: url('../images/novacap2.png');
    opacity: 0.9;
    background-size: cover;
}
#caixa{
    background-color: #09044c;
    border: 8px solid #ff4800;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.9;
    position:relative;
    width: 300px;
    height: 230px;
    position: absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#caixa h1{
    margin-top: 15px;
    font-size: 32px;
    color: white;
}
#caixa button{
    width:100px;
    height:20px;
}
.textbox {
    width: 90%;
    overflow: hidden: font-size: 20px;
    padding: 8px 0;
    margin: 8px 12px;
    border-bottom: 1px solid;
    margin-top: -2px;
}


#header {
    background-color: #09044c;
    border-bottom: 8px solid #ff4800;
    border-radius: 10px 0px 0px 0px;
    opacity: 0.9;
    position:relative;
    width: 100%;
    height: 9%;
    position: absolute;
    text-align: center;
    bottom:91%;

}
#header img{
    width:110px;
    margin-left:-90%;
}

#header h2{
    margin-top:-55px;
    color: #ffffff;
}

#rodape {
    background-color: #09044c;
    border-top: 8px solid #ff4800;
    border-radius: 10px 0px 0px 0px;
    opacity: 0.9;
    position:relative;
    width: 100%;
    height: 9%;
    position: absolute;
    text-align: center;
    top:91%;
}
#rodape h2{
    color: #ffffff;
}
/*_________________________________________________________________
TELA PRINCIPAL
_________________________________________________________________*/
body{
    background-color:#86a2ab;
}
#headermain {
    background-color: #09044c;
    border-bottom: 8px solid #ff4800;
    border-radius: 10px 0px 0px 0px;
    opacity: 0.9;
    position:relative;
    width: 100%;
    height: 15%;
    position: absolute;
    text-align: center;
    bottom:85%;
}
#headermain img{
    width:190px;
    margin-left:-18%;
    height:129px;
}
#dados {
    display: grid;
    grid-template-columns:20% 75% 5%;
    grid-gep:1rem;
}

#subdados {
    display: grid;
    grid-template-columns:40% 25% 20%;
    color: white;
    top:10rem;
    grid-gep:1rem;
}
.item2 {
    margin-top:1rem;
    margin-left:-8rem;
}


.item2_12 {
    margin-left:-10rem;
}
.item2_13 {
    margin-left:-3rem;
}

.item2_21 {
    margin-top:1.5rem;
    margin-left:-4rem;
}
.item2_22 {
    margin-top:1.5rem;
    margin-left:-11rem;
}
.item2_23 {
    margin-top:1.5rem;
    margin-left:-5rem;
}
.btn_alterar{
    width: 90px;
    height: 30px;
    margin-left: -12rem;
    margin-top:6rem;

}

.btn_salvar{
    width: 90px;
    height: 30px;
    margin-top: 6rem;

}
.container{
    margin-top: 100rem;
    width:100%;
    background-color: #86a2ab;
    margin-left: -5rem;
    margin-top:1rem;
}
.nav-bar {
    width: 80px;
    height: 100%;
    background-color:#ff4800;
    border-radius:10px;
    position: fixed;
    margin-top:-1rem;
    margin-left:3.5rem;
    color:white;
}
.nav-bar ul{
    color:red;
}
.nav-bar ul li{
    color: red;
    list-style: none;
    position: center;
}
.nav-bar ul li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    padding: 14px;
    margin-left: -22px;
    margin-top: 20px;

    /* align-items: center; */
}
.nav-bar ul li a:hover{
    background-color:white;

}
.nav-bar ul li img{
    width: 22px;
}
.calendario{
    background-color:white;
    border-radius:7px;
    margin-top: 9.5rem;
    margin-left: 10rem;
    width: 105%;
    height:44rem;

}
.calendar{
    background-color: white;
    margin-top: 50rem;

}
#form-check {
    display: grid;
    grid-template-columns:5% 15% 15% 15% 15% 10% 11% 7% 7%;
    color: red;
    margin:1rem 0rem 1rem 0rem;
    text-align: center;
    position: relative;
    border-bottom: 2px solid black;

}
.item h2{
    font-size: 18px;
    color:black;


}
#form-check2, #form-check3, #form-check4,#form-check5,#form-check6,#form-check7 {
    display: grid;
    grid-template-columns:5% 15% 15% 15% 15% 10% 11% 7% 7%;
    color: red;
    margin:0rem 0rem 1rem 0rem;
    text-align: center;
    position:center;


}

